## Quantifi Lending Club Test

In this notebook you will build out a simple data science workflow to solve a predictive problem.

We have included a dataset, 10K_Lending_Club_Loans.csv. This dataset comes courtesy of Lending Club, an online peer-to-peer lending website that matches those looking to borrow money with those with a little extra to lend out. Lending Club includes a number of descriptive features as well as a target (is_bad) indicating whether the loan was paid back successfully. 

Your task is to:
* Perform a simple exploratory data analysis
* Train a model to predict **is_bad**
* Evaluate accuracy
* **Answer questions about your model**

There is no right or wrong answer, this test is all about showcasing your specific style.

First, the dataset:

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./10K_Lending_Club_Loans.csv")

In [3]:
df.head(5)

,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,...,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,mths_since_last_major_derog,policy_code,is_bad
0,500,500,36 months,8.07%,15.69,A,A4,NaN,< 1 year,RENT,...,0.0,4.0,0.0,0,0.0,4.0,f,NaN,1,0
1,500,500,36 months,9.01%,15.91,B,B2,NaN,< 1 year,RENT,...,0.0,2.0,0.0,0,0.0,2.0,f,NaN,1,0
2,600,600,36 months,13.24%,20.29,D,D3,Ale House,3 years,RENT,...,0.0,2.0,0.0,195,65.0,3.0,f,NaN,1,0
3,600,600,36 months,11.54%,19.80,C,C5,NaN,< 1 year,RENT,...,0.0,4.0,0.0,228,19.0,4.0,f,NaN,1,0
4,900,900,36 months,12.92%,30.29,D,D2,NaN,< 1 year,RENT,...,NaN,4.0,0.0,3584,50.6,5.0,f,NaN,1,0

In [4]:
df.columns

Index(['loan_amnt', 'funded_amnt', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'mths_since_last_major_derog', 'policy_code',
       'is_bad'],
      dtype='object')

## Perform exploratory data analysis here:
* Explore a few features visually
* Explore the target output

## Clean dataset here
* Remove columns, transform variables, etc

## Fit a model here
* Use whatever model or library you want

## Evaluate your model accuracy here
* Print your test/train accuracy (whatever it is)

## Explore your model and answer these questions
You can answer using text, code, or both.

* **What is the most important feature for your model?**

* **Why did you pick this model?**

* **What were some of the limitations of your approach?**

* **What would you like to try next?**

## Conclusion
Save this notebook, it will be your submission. Thank you for participating!